<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<a href="/login">Login</a>
	<a href="/register">Register</a>

	<form action="/SearchFlight1" method="POST">
		<input type="text" name = "airline" placeholder="airline" required/> </br>
		<input type="submit" value = Search />
	</form>

	<style type="text/css">
		table, th, td{
			border: 1px solid black;
		}
	</style>
	
	<table>
		<th>Flight Number</th>
	
	{% for line in posts %}
		<tr>
			<td>{{line['flight_num']}}</td>
		</tr>
	{% endfor %}
	</table>

</body>

</html>